.box {background:url(../img/box/box-tail.gif) repeat-x left top #fff;margin-right:15px;}
.box .border-bot {background:url(../img/box/border-bot.gif) repeat-x left bottom}
.box .border-left {background:url(../img/box/border-left.gif) repeat-y left top}
.box .border-right {background:url(../img/box/border-right.gif) repeat-y right top}
.box .left-top-corner {background:url(../img/box/left-top-corner.gif) no-repeat left top}
.box .right-top-corner {background:url(../img/box/right-top-corner.gif) no-repeat right top}
.box .left-top-corner1 {background:url(../img/box/left-top-corner1.gif) no-repeat left top}
.box .right-top-corner1 {background:url(../img/box/right-top-corner1.gif) no-repeat right top}
.box .left-bot-corner {background:url(../img/box/left-bot-corner.gif) no-repeat left bottom;}
.box .right-bot-corner {background:url(../img/box/right-bot-corner.gif) no-repeat right bottom}
.box .inner {padding:15px 38px 26px 43px}
.box.extra {background-image:url(../img/box/box-tail1.gif);background-repeat:repeat-x;width:100%}
.box.extra .inner {padding:4px 4px 1px 4px}
.box .border-top {background-image:url(../img/box/box-tail2.gif);background-repeat:repeat-x;width:100%}






.inner h3 {font-size:26px;line-height:1.2em;color:#fff;margin-bottom:30px}

.login-box{
text-align:right;


}