<html>
<body>
<p><img src="file:///C|/Users/Marco/Desktop/foto varie/jpg/CSC_0004.jpg" width="600" height="56" >
</p>
<p><strong>Dear ${name},</strong></p>
Thank you for signing up for the fanatgame. Your application has been approved.
To activate your account and start using FantaGAme, please click on the following link:</p>
<p><a href="${link}">Active account</a></p>
<p>(If clicking the link doesn't seem to work, you can copy and paste the link to your browser's address bar.).</p>
<strong>Your account's details:</strong> 
<ul>
  <li>Your username is: ${username}</li>
  <li>Your mail is: ${mail}</li>
</ul>
<p>If you have any questions, please don't hesitate contacting us at support@fantagame.com.</p>
Thanks,
<br>
The FantaGame
</body>
</html> 