<div class="popupConfigureWoe">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 l-left-space">
			
			<div class="row  align-center l-top-space l-bottom-space">
				<div class="col-lg-3 col-md-3 col-sm-3 ">
						<div id="configureTitlePH"/>
				 </div>
				<div class="col-lg-9 col-md-9 col-sm-9 m-top-space"></div>
			</div>

			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div id="widgetsGridPH"/>
				</div>					
			</div>
			
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8 m-top-space"></div>
				<div class="col-lg-2 col-md-2 col-sm-2 m-top-space">
					<div id="cancelButtonPH"/>
				</div>	
				<div class="col-lg-2 col-md-2 col-sm-2 m-top-space left-space">
					<div id="saveButtonPH"/>
				</div>					
			</div>
		</div>
    </div>
</div>