<div class="container ux-full-height-container m-left-space m-right-space">
    <div class="row l-top-space l-bottom-space" style="height: 100%;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row border-bottom">
                <div class="col-lg-4 col-md-4 col-sm-4 l-bottom-space">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12"><div id="newVariableTitle" class="ux-body1 ux-text-grey"></div></div>
                    </div>
                    <div class="row s-top-space">
                        <div class="col-lg-12 col-md-12 col-sm-12"><div id="newVariableInput"></div></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 s-left-space l-bottom-space">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 s-left-space"><div id="newVariableDataType" class="ux-body1 ux-text-grey"></div></div>
                    </div>
                    <div class="row s-top-space">
                        <div class="col-lg-12 col-md-12 col-sm-12 s-left-space"><div id="dropdownDataTypePH"></div></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 s-left-space l-bottom-space">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 s-left-space"><div id="newVariableType" class="ux-body1 ux-text-grey"></div></div>
                    </div>
                    <div class="row s-top-space">
                        <div class="col-lg-12 col-md-12 col-sm-12 s-left-space"><div id="dropdownTypePH"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row m-bottom-space">
                <div class="col-lg-4 col-md-4 col-sm-4 variableColumns">
                    <div class="row l-top-space">
                        <div class="col-lg-12 col-md-12 col-sm-12"><div id="availableVariablesTitle" class="ux-body1 ux-text-grey"></div></div>
                    </div>
                    <div class="row s-top-space s-bottom-space">
                        <div class="col-lg-12 col-md-12 col-sm-12"><div id="searchPosition"></div></div>
                    </div>
                    <div class="row" style="height:518px;overflow-y:auto">
                        <div class="col-lg-12 col-md-12 col-sm-12"><div id="variablesTable"></div></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 m-left-space">
                    <div class="row l-top-space">
                        <div class="col-lg-6 col-md-6 col-sm-6"><div id="rSyntaxTitle" class="ux-body1 ux-text-grey"></div></div>
                        <div class="col-lg-6 col-md-6 col-sm-6"><div id="runButton" class="ux-body1 ux-text-grey pull-right text-right"></div></div>
                    </div>
                    <div class="row s-top-space" style="height: 100%">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="height:100%;"><div id="createVariableCodeEditor" style="height:100%;"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>