<html>
<body>
<p><img src="file:///C|/Users/Marco/Desktop/foto varie/jpg/CSC_0004.jpg" width="600" height="56" >
</p>
<p>
${name} invites you to join his group "&{groupNme}" to play with him on Fantasy fantagame:
The invitation code is: ${inviteCode}</p>
<p><a href="${link}">Register</a></p>
<p>If you have any questions, please don't hesitate contacting us at support@fantagame.com.</p>
Thanks,
<br>
The FantaGame 
</body>
</html>