<div class="container">
    <div class="container ux-full-height-container">
		
		<div class="row m-top-space">
			<div class="col-lg-2 col-md-2 col-sm-2 s-top-space ">
				<div id="dropdownLabelPH"/>
            </div>
			<div class="col-lg-2 col-md-2 col-sm-2 s-top-space ">
				<div id="dropdownPH"/>
            </div>
			<div class="col-lg-8 col-md-8 col-sm-8 s-top-space "/>
		</div>
		
		<div class="row m-top-space">
			<div class="col-lg-2 col-md-2 col-sm-2 s-top-space ">
				<div id="constantValueLabelPH"/>
            </div>		
			<div class="col-lg-2 col-md-2 col-sm-2 s-top-space ">
                <div id="constantValuePH"/>
            </div>
			<div class="col-lg-8 col-md-8 col-sm-8 s-top-space "/>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 s-top-space l-bottom-space">
				<div id="weightedModelTablePosition"/>
			</div>
		</div>
	</div>
</div>

<div id="popupPH" style="display:none;" />
