<div class="ux-page-breadcrumb">
</div>

<div class="ux-page-header">
	<div class="container">
		<div class="row align-center">
			<div class="col-lg-4 col-md-4 col-sm-4 no-left-space">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div id="pageTitlePH" class="ux-title1"/>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div id="pageTitlePlaceholderDetailsPH" class="ux-caption-small ux-text-grey"/>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text-center">
				<div id="tabPanelPH" class="height-100 align-bottom" />
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3"></div>
			<div class="col-lg-1 col-md-1 col-sm-1">
				<div id="buttonSavePH" />
			</div>
		</div>
	</div>
</div>

<div class="container">
    <div id="tab1" class="row l-top-space l-bottom-space">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="businessModelTablePositionPH"/>
        </div>
    </div>
	<div id="tab2" style="display:none;" class="row l-top-space l-bottom-space">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div id="battleshipPH"/>
		</div>
	</div>
</div>

<div id="overrideConfirmPopupPH" style="display:none;" />